:root {
	--clr-primary: hsl(25, 97%, 53%);
	--clr-white: hsl(0, 0%, 100%);
	--clr-very-light-grey : hsl(210, 9%, 40%);
	--clr-light-grey: hsl(217, 12%, 63%);
	--clr-medium-grey: hsl(216, 12%, 54%);
	--clr-dark-blue: hsl(213, 19%, 18%);
	--clr-very-dark-blue: hsl(216, 12%, 8%);

	--clr-t: hsl(215, 18%, 19%);

	--fs-body: 15px;

	--font-regular: 400;
	--font-bold: 700;
}

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	padding: 1rem;
	min-height: 100vh;
	font-family: Overpass;
	align-items: center;
	justify-content: center;
	font-size: var(--fs-body);
	background-color: var(--clr-very-dark-blue);
}

img {
	display: block;
	// width: 50%;
	height: 50%;
}

h2 {
	font-size: 1.75rem;
	font-weight: var(--font-bold);
	color: var(--clr-white);
}

p {
	color: var(--clr-light-grey);
	color: var(--clr-very-light-grey);
}

button {
	border: none;
	cursor: pointer;
	font-family: inherit;
	font-weight: var(--font-bold);
}

/* -----------------*/
/* Utility classes  */
/* -----------------*/

.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.justify-center {
	// justify-content: center;
	align-items: center;
	text-align: center;
}

.justify-between {
	justify-content: space-between;
}

.align-center {
	align-items: center;
}

.uppercase {
	text-transform: uppercase;
}

.mx-auto {
	margin-inline: auto;
}

/* -----------------*/
/* Components       */
/* -----------------*/

.card {
	padding: 1.5rem;
	max-width: 26em;
	min-height: 375px;
	border-radius: 1.25rem;
	background: rgb(35,41,51);
	background: radial-gradient(at top,  rgba(35,41,51,1) 20%, rgba(34,40,50,1) 35%, rgba(31,37,47,1) 60%, rgba(25,31,41,1));

	& > *:not(:last-child) {
		margin-bottom: 1.5rem;
	}
}

.circle {
	border-radius: 50%;
	height: 3rem;
	width: 3rem;
	background-color: var(--clr-dark-blue);
}

.rating {
	color: hsl(210, 9%, 40%);

	&:hover {
		color: var(--clr-white);
		background-color: var(--clr-primary);
	}

	&--active {
		color: var(--clr-white);
		background-color: var(--clr-light-grey);
	}
}

.btn {
	width: 100%;
	padding-block: .8rem;
	border-radius: 2.25rem;
	letter-spacing: .25rem;
	color: var(--clr-white);
	background-color: var(--clr-primary);

	&:hover {
		color: var(--clr-primary);
		background-color: var(--clr-white);
	}
}

.pill {
	color: var(--clr-primary);
	border-radius: 1rem 1rem 1rem 1rem;
	padding: .25rem 1rem;
	background-color: var(--clr-dark-blue);
}
